@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<MudThemeProvider/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Edge="Edge.Start" OnClick="@GoHome"/>
        <MudSpacer />
        <MudText Typo="Typo.h5" Class="ml-3">Mud Navigation Panel SSR Example</MudText>
        <MudSpacer />
        <MudImage Height="25" Width="25"  Src="ErgodicMage.jpg" ></MudImage>
    </MudAppBar>

    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void GoHome()
    {
        _navigationManager.NavigateTo("/");
    }
}


